.vscode/**
src/**
.gitignore
tsconfig.json
*.vsix
.tmp-*
out/test/**
out/**/*.map
node_modules/node-pty/src/**
node_modules/node-pty/deps/**
node_modules/node-pty/third_party/**
node_modules/node-pty/scripts/**
node_modules/node-pty/binding.gyp
node_modules/node-pty/prebuilds/**/*.pdb
node_modules/node-pty/lib/**/*.test.js
node_modules/@xterm/*/src/**
node_modules/**/*.map

.pi-subagents/**
test/**
**/.DS_Store
